<%= form_tag movies_path, method: :get do %>
  <p>
    <%= text_field_tag(
      :title,
      nil,
      placeholder: "Search for a movie",
      id: "movieTitle"
    ) %>
    <%= submit_tag "Search" %>
  </p>
<% end %>

<% if @movie %>
  <%= @movie.title %></br>
  <%= @random_actors.join(", ") %>
  <% @image_results.each do |image| %>
    <%= image_tag "#{image}", height: "200px", width: "200px" %>
  <% end %>
<% end %>
